In [ ]:
#oops:-
#syntex: class class_name:
#            code
#object / instance:-
# obj_name=class_name()

In [5]:
class Student:
    name=['shalu','vanshika']
    branch='computer science engineering'
    college="gweca"

In [6]:
#object-
stu_obj=Student()

In [7]:
print(stu_obj.name)

['shalu', 'vanshika']

In [8]:
print(stu_obj.branch)

computer science engineering

In [9]:
stu_obj.college="Geca"   # we can reassign the value

In [10]:
print(stu_obj.college)

Geca

In [1]:
class Listfunction:
    list=[23,32,34,43,45,54,56,378,87,89,90,98,77]
    #class name can in captial or small leter
    # create method -- inside the class and pass a parameter self always keep as parameter
    # function are created outside the class
    
    def avg_finder(self):
        sum=0
        length=0
        for i in self.list:
             length+=1
        print("total element in list are",length)
        for i in self.list:
            sum+=i
           
        print("avg is",sum/length)
        
    def avg_finder_even(self):
        avg=0
        sum=0
        length=0
       
        for i in self.list :
            if (i %2)!=0:
                print("even no are from list",i)
                length+=1
        print("total element in list are",length)
        for i in self.list:
            if (i %2)!=0:
                sum+=i
           
        print("avg is",round(sum/length,2))
            
    def listavg_finder_even(self):
        avg=0
        sum=0
        length=0
        
        for i in self.list :
                if i>=0 and i<=50:
                 length+=1
        print("total element in list are",length)
        for i in self.list:
                sum+=i
           
        print("avg is",round(sum/length,2))

In [2]:
obj=Listfunction()

In [3]:
obj.list
# obj.len_finder()  # give error froom the list bcoz obj is not defined

[23, 32, 34, 43, 45, 54, 56, 378, 87, 89, 90, 98, 77]

In [3]:
obj.avg_finder()  #by self.list  #self--store the address of the object
obj.avg_finder_even()
obj.listavg_finder_even()

total element in list are 13
avg is 85.07692307692308
even no are from list 23
even no are from list 43
even no are from list 45
even no are from list 87
even no are from list 89
even no are from list 77
total element in list are 6
avg is 60.67
total element in list are 5
avg is 221.2

In [6]:
#constructor:-
class Student:
    name="shalu choudhary"
    #constructor declare
    def __init__(self):
        self.student_name="shalu "
        self.branch="CSE"
        self.college="IIT bombay"

In [7]:
st1=Student()
st2=Student()

In [8]:
st2.name="vanshika"

In [9]:
st2.student_name

'shalu '

In [10]:
Student.name

'shalu choudhary'

In [12]:
st2.name

'vanshika'

In [13]:
class Student:
    name="shalu choudhary"
    #constructor declare
    def __init__(self,name,Student_branch,Student_class):
        self.student_name=name
        self.branch=Student_branch
        self.college=Student_class
        print(" i am executed")

In [14]:
obj=Student(name="shalu",Student_branch="cse",Student_class="gweca")
myobj=Student(name="eunwoo",Student_branch="AI",Student_class="geca")

 i am executed
 i am executed

In [15]:
obj=Student()
obj2=Student()

TypeError: Student.__init__() missing 3 required positional arguments: 'name', 'Student_branch', and 'Student_class'

In [16]:
obj.student_name

'shalu'

In [17]:
myobj.student_name

'eunwoo'

In [18]:
myobj.branch

'AI'

In [11]:
class My:
    name="shalu"
    def __init__(self,name="shalu",fname="rajendra kareshiya",mname="rekha devi"):
        self.my_name=name
        self.my_fname=fname
        self.my_mname=mname
        print("hiiiiii")

In [12]:
m=My()

hiiiiii

In [13]:
print("my name is ",m.my_name,"\n my father name is ",m.my_fname,"\n my mother name is ",m.my_mname)

my name is  shalu
 my father name is  rajendra kareshiya
 my mother name is  rekha devi

In [ ]:
# 2 class stu,faculty-var
#constructor with insatnces var
#multiple object ,manuplate,create show_info methode() which is print instance var

In [30]:
class Employee:
    emp1_name='shalu'
    def __init__(self,name,salary,dep): 
        self.emp_name=name
        self. emp_salary=salary
        self.emp_department=dep
        print("i am employee")
# class Department:
    def show_info(self):
        print(self.emp_name,self.emp_salary,self.emp_department)

In [31]:
emp=Employee("shalu",80000,"SE")
emp1=Employee("vanshika",80000,"data scientist")

# dep1=Department()
# dep2=Department()

i am employee
i am employee

In [32]:
emp.show_info()
emp1.show_info()

shalu 80000 SE
vanshika 80000 data scientist

In [33]:
Employee.emp1_name    # from class name then call only outer code

'shalu'

In [37]:
emp.emp_name="monika"
emp.show_info()

monika 80000 SE

In [38]:
emp1.emp_name

'vanshika'

In [35]:
print(emp1.emp_name,emp1.emp_salary,emp1.emp_department)

vanshika 80000 data scientist

In [20]:
class Student:
    #class variabl
    college_name='gweca'
    def __init__(self,name,branch,ls_of_subject) :
        #instance var
        self.student_name=name
        self.branch=branch
        self.subject=ls_of_subject
        #instance method
    def display(self):
        print("my name is ",self.student_name)
        print("branch is",self.branch)
        print("subject are",self.subject)
        print(self.college_name) #we can access
        #instance method ko class name s call nhi kr skte
        #class method
        #cls represent class/ self rep instance 
        # @classmethod for class method its called decorator
    @classmethod
    def display2(cls):
        # isse class method nhi bnega
        print("my college is ",cls.college_name)
        
        #static method

In [21]:
obj=Student(name='shalu',branch="cse",ls_of_subject=['phy','chem','maths'])

In [22]:
obj.display()
#Student.display()  cant access

my name is  shalu
branch is cse
subject are ['phy', 'chem', 'maths']
gweca

In [23]:
obj.display2()  #using instance

my college is  gweca

In [24]:
Student.display2() #using class(name) methos from @classmethod

my college is  gweca

## PRACTICE

In [35]:
class a:
    name="shalu"
    id=30
    city='ajmer'
    def __init__(self,company,package,comarea) :
        self.company=company
        self.package=package
        self.comarea=comarea
    def identity(self):
        print(self.name,self.id,self.city,self.company,self.package,self.comarea)

In [38]:
c=a(company='microsoft',package=2000000,comarea='Banglore')

In [42]:
c.package

2000000

In [44]:
c.package=2500000

In [46]:
c.identity()

shalu 30 ajmer microsoft 2500000 Banglore

In [39]:
c.identity()

shalu 30 ajmer microsoft 2000000 Banglore

In [40]:
c.company

'microsoft'

In [22]:
c.city

'ajmer'

In [7]:
c.city='jaipur'

In [8]:
c.city

'jaipur'

In [9]:
a.city

'ajmer'